# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.local
.env.production

# Mac
.DS_Store

# Logs
*.log

# Alembic cache
alembic/versions/__pycache__/

# Node
node_modules/

# IDE
.vscode/
.idea/

# Docker
*.pid